[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git
[submodule "ext/entityx"]
	path = ext/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "ext/SFML"]
	path = ext/SFML
	url = https://github.com/SFML/SFML.git
